@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Francois+One');

.row {
 margin-bottom: 20px;
}

a.topo{
    text-decoration: none;
    cursor: default;
    color: black;
    font-weight: 700;
    font-family: arial, sans-serif
}
.btnlogout {
    background: #d93434;
    background-image: -webkit-linear-gradient(top, #d93434, #b82b2b);
    background-image: -moz-linear-gradient(top, #d93434, #b82b2b);
    background-image: -ms-linear-gradient(top, #d93434, #b82b2b);
    background-image: -o-linear-gradient(top, #d93434, #b82b2b);
    background-image: linear-gradient(to bottom, #d93434, #b82b2b);
    -webkit-border-radius: 7;
    -moz-border-radius: 7;
    border-radius: 7px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    height: 50px;
    border: 0 none;
  }

  .btnlogout:hover {
    background: #fc3c3c;
    background-image: -webkit-linear-gradient(top, #fc3c3c, #d93434);
    background-image: -moz-linear-gradient(top, #fc3c3c, #d93434);
    background-image: -ms-linear-gradient(top, #fc3c3c, #d93434);
    background-image: -o-linear-gradient(top, #fc3c3c, #d93434);
    background-image: linear-gradient(to bottom, #fc3c3c, #d93434);
    text-decoration: none;
}
.nomeusuario{
    position: absolute;
    color: red;
    margin-top: 65px;
    font-weight: 700;
    font-size: 20px;
}
.botao {
    border: 0 none;
}
.enunciado{
    font-size: 20px;
}
.userForm{
    margin-top: 150px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 20px 20px 50px;
    background-color: rgba(245,255,250,0.7);
    box-shadow: 3px 3px 3px rgba(0,0,0,0.7);
    margin-bottom: 100px;
}
legend{
    font-family: 'Francois One', sans-serif;
    font-size: 50px;
}
label{
    font-family: Arial, sans-serif;
    font-size: 25px;
}
span.ano{
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 15px 10px 4px;
}
span.area,span.disciplina{
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 15px 10px 4px;
}
.navbar-brand{
    font-size: 30px;
}
input[type=text]{
    border-radius: 4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border: 0 none;
    height: 30px;
}
input[type=password]{
    border-radius: 4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border: 0 none;
    height: 30px;
}
select{
    border-radius: 4px;
    font-family: Arial, sans-serif;
    font-weight: 600;
}
td{
    padding: 10px;
}
span.sub{
    font-size: 12px;
    opacity: 0.7;
}
.sub-red{
    font-size: 12px;
    opacity: 0.7;
    color: red;
    font-size: 10px;
}
.sub-green{
    font-size: 12px;
    opacity: 0.7;
    color: green;
    font-size: 10px;
}
h2.sessao1{
    color: red; margin-top: 5%; margin-right: auto; margin-left: 25%;position: absolute;
}
h2.sessao2{
    color: #00FF00; margin-top: 4%; margin-right: auto; margin-left: 25%;position: absolute;
}
body{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 67%, rgba(236,240,241,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(67%, rgba(246,246,246,1)), color-stop(100%, rgba(236,240,241,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 67%, rgba(236,240,241,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 67%, rgba(236,240,241,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 67%, rgba(236,240,241,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 67%, rgba(236,240,241,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ecf0f1', GradientType=0 );
}

table{
    box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
    margin: auto auto auto auto;
}
table#cabecalhoLinks,table#cabecalhoUsuario{
    box-shadow: none;
    border: none;
}
td#cabecalho{
    padding: 0px 30px 0px 0px;
}
table#cabecalhoUsuario{
    position: absolute;
    margin-left: 85%;
    margin-top: 20px;
    box-shadow: none;
}
table#cabecalhoLinks{
    margin-left: 50px;
    box-shadow: none;
}
#tabela{
    box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
    margin: auto auto auto auto;
    padding: 20px;
}

h2#view{
    text-align: center;
    color: black;
    font-weight: 700;
    font-family: 'Francois One', sans-serif;
    font-size: 28pt;
}