@import url('https://fonts.googleapis.com/css?family=Francois+One');
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    background: #cb2d3e;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ef473a, #cb2d3e);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ef473a, #cb2d3e);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100%;
    height: 100%;
}

a.topo {
    text-decoration: none;
    cursor: default;
    color: black;
    font-weight: 700;
    font-family: arial, sans-serif
}


.btnfiltro {
    background: #34d9b8;
    background-image: -webkit-linear-gradient(top, #34d9b8, #2bb8a0);
    background-image: -moz-linear-gradient(top, #34d9b8, #2bb8a0);
    background-image: -ms-linear-gradient(top, #34d9b8, #2bb8a0);
    background-image: -o-linear-gradient(top, #34d9b8, #2bb8a0);
    background-image: linear-gradient(to bottom, #34d9b8, #2bb8a0);
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    font-family: Arial;
    color: #ffffff;
    font-size: 24px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border: 0 none;
    margin-top: 20px;
}

.btnfiltro:hover {
    background: #3cfcbc;
    background-image: -webkit-linear-gradient(top, #3cfcbc, #34d9aa);
    background-image: -moz-linear-gradient(top, #3cfcbc, #34d9aa);
    background-image: -ms-linear-gradient(top, #3cfcbc, #34d9aa);
    background-image: -o-linear-gradient(top, #3cfcbc, #34d9aa);
    background-image: linear-gradient(to bottom, #3cfcbc, #34d9aa);
    text-decoration: none;
}

.botao {
    border: 0 none;
}

.enunciado {
    font-size: 20px;
}

.filtro {
    margin-top: 50px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 20px 20px 50px;
    background-color: rgba(245, 255, 250, 1);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.7);
    margin-bottom: 100px;
}

legend {
    font-family: 'Francois One', sans-serif;
    font-size: 50px;
}

.navbar-brand {
    font-size: 30px;
}

.material-switch > input[type="checkbox"] {
    display: none;
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative;
    width: 40px;
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 20px;
    margin-top: -8px;
    position: absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}

.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -6px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}

.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}

.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}

.labelItem,
.material-switch {
    display: inline-block;
}

.labelItem {
    margin-left: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 600;
    vertical-align: middle;
    padding-top: 10px;
}

.group-item {
    margin-bottom: 0px;
}

.labelTitle{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 900;
    margin-bottom: 20px;
    margin-top: 10px;
}

@media (max-width:600px) {
    .filtro {
        width: 95%;
        left: 2.5%;
    }
}